#piece-editor-index{
  display: none;
}

.color-box {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

body, html, .container-fluid {
     height: 100%;
}

.col-hidden {
  display: none;
}

input {display: block; padding: 0; margin: 0; border: 0; width: 100%;}
td {margin: 0; padding: 0;}

.info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
  font-size: 24px;
  color: black;
}

#toolbar{
	position: absolute;
}


#viewer{
  height: 100%;
}

.fixed-panel{
  height: 80vh;
}

.fixed-table{
  height: 40vh;
  overflow-y: auto;
}

#viewer-tools{
  position: absolute;
  right: 0;
  opacity: 0.8;
}
